#id1:hover{
  background-color: red; 
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

html,body { 
  height:100%;
  width:100%;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRmdwLrBjpva3x_gHP3XtltLPQm39Gj9-wOw&usqp=CAU) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
